.apple {
  /*border: 1px solid black;*/
  /*color: white;*/
  /*background-color: #FFDBA2;*/
  border-radius: 10px;
}

/*------------------------------------*\
	COMMONS CLASSES
\*------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6
{
    margin-bottom: 1.1em;
}

.features,
.blog,
.gallery,
.clients,
.prefooter .container-fluid
{
    padding-top: 3.3em;
    padding-bottom: 4.2em;
}

span.typcn::before, i.typcn::before
{
    font-size: 2em;
}

span.x2:before, i.x2:before
{
    font-size: 3.4em;
}

span.x3:before, i.x3:before
{
    font-size: 4.4em;
}

span.x4:before, i.x4:before
{
    font-size: 6em;
}


/*------------------------------------*\
	HEADER
\*------------------------------------*/

header .container-fluid
{
  background-color: rgba(36, 50, 59, 1);
    background-image: url('images/pukaki.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 36px;
}

#hamburgerMenu {
  position: fixed;
  right: 5%;
  z-index: 1;
}

.profileIcons {
  color: white;
}

#emailIcon {
  position: relative;
  top: -3px;
}

.hamburger
{
    font-size: 2.3em;
    color: #000;
}

.hamburger:hover
{
  color: #FFF;
  cursor: pointer;
}


.logo
{
    background: none;
    border: 0px;
}

.jumbotron
{
    background: none;
    text-align: center;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6,
.jumbotron small
{
    color: #FFFFFF;
}

.jumbotron p
{
    color: #FFFFFF;
    margin-bottom: 5%;
}

/* ABOUT ME */

.skillsIcon {
  height: 60px;
  padding: 5px;
  width: auto;
}

#noMarginPaddingOne {
  padding: 0;
}

#noMarginPaddingTwo {
  padding: 0;
  padding-bottom: 20px;
}

/*------------------------------------*\
	SECTIONS
\*------------------------------------*/

.number .container-fluid {
    /*background-color: rgb(102,102,102)*/
    background-color: #0BAEDB;
}

.statisticLink {
  text-transform: none;
  font-size: 10px;
}

.statisticLink:hover {
  color: rgb(102,102,102);
  text-decoration: none;
}

.statisticLink:visited {
  text-decoration: none;
}

.projectLinks {
  height: 20px;
  color: white;
}

.projectLinksLaunchPad {
  height: 20px;
  color: rgb(102,102,102);
}

#giphy {
  vertical-align: middle;
}

.projectHeaders {
  color: white;
  padding-top: 10px;
}

#mySpotGiphy {
  padding-top: 20px;
  padding-bottom: 50px;
}

#mySpotDescription {
  color: white;
}

#trackMeNotGiphy {
  margin-top: 20px;
}

#flightStatsURL:hover {
  text-decoration: none;
}

.opaline
{
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgba(0,0,0,0.6)
}

.opaline h1,
.opaline h2,
.opaline h3,
.opaline h4,
.opaline h5,
.opaline h6,
.opaline p
{
    color: #FFFFFF;
}

.opaline .boxes
{
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
    border: 1px solid #FFF;
}

.boxes .odometer.odometer-theme-default {
  font-family: 'Roboto Slab', serif;
}

.story .container-fluid {
  background-color: #F285A2;
}

.gallery {
  background-color: #FF9059;
}

#miniProjectsIntro {
  margin: 100px auto;
}

#pacManGif {
  border-radius: 10px;
}

#tttGif {
  border-radius: 10px;
}

#guessGif {
  border-radius: 10px;
}

.otherProjectsHeader {
  color: white;
  font-size: 40px;
  text-align: center;
}

.otherProjectLinks{
  color: grey;
  position: relative;
  top: -25px;
}

.prefooter .container-fluid {
  background: linear-gradient(
      rgba(33, 37, 43, 0.6),
      rgba(33, 37, 43, 0.6)
),

    url(https://unsplash.it/4000/3000?image=528);
}

.prefooter h1,
.prefooter h2,
.prefooter h3,
.prefooter h4,
.prefooter h5,
.prefooter h6,
.prefooter p
{
    color: #FFFFFF;
}



/*------------------------------------*\
	FOOTER
\*------------------------------------*/

footer
{
    background-color: rgba(36, 50, 59, 1);
    padding-top: 2em;
    padding-bottom: 1.2em;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer p
{
    color: #FFFFFF;
}
